@font-face {
  font-family: newFont; 
  src: url('Aprilliya.ttf') ;
}

:root{
    --border:.1px solid black;
    --box-shadow:0 1px 1px black;





}
*{
  font-family:serif;
  margin:0;
  padding:0;
  box-sizing:border-box;
  text-transform:capitalize;
  transition:all .2s linear;

}

html{
  font-size: 70%;
  overflow-x:hidden;
  scroll-padding-top: 15px;
  scroll-behavior: smooth;
}

html::-webkit-scrollbar{
  width:8px;
}


html::-webkit-scrollbar-track{
  background:rgba(0,0,0,.3);
}

html::-webkit-scrollbar-thumb{
  background: rgb(0,0,0,0.3) ;
  border-radius: 5px;
}

body{
  background:url(background.png);
  background-size: cover ;
  background-position-x: center;
  height: 4000px;

}

section{
  padding: 50px 9%;
}


.btn{
  margin-top: 10px;
  display: inline-block;
  padding: 8px 10px;
  border-radius: 5px;
  color: black;
  font-size: 15px;
  background:  rgb(89, 132, 189);
  border-color:rgb(72, 124, 193) ;
  cursor:pointer;
  font-weight: 500;
  font-size: 20px;

}

.btn:hover{

  background:rgb(231, 219, 203) ;
  border-color:rgb(200, 179, 153) ;
}
.header .header-1{
  background: url("header.jpg");
  box-shadow:inset 0 0 0 1000px rgba(0,0,0,.3);
  display:flex;
  align-items: center;
  justify-content: space-between;
  padding: 20px;
  margin:5px;
  border-radius:20px;


}
.header .header-1 .titre{
  font-size: 80px;
  font-weight:bolder;
  color: rgb(56, 96, 149);
}
.header .header-1 .search-form{
  width:150px;
  height:40px;
  border-radius: 15px;
  border: white;
  align-items: center;
  display: flex;
  border-radius: 20px;   
  overflow: hidden;


}
.header .header-1 .search-form input{
  width: 200px; 
  padding: 10px; 
  border: none; 
  border-radius: inherit;
  outline: none; 
}


header .header-1 .icons a ,
header .header-1 .icons div{
  font-size: 30px;
  color:  rgb(56, 96, 149);
  cursor:pointer;
}

header .header-1 .icons a:hover ,
header .header-1 .icons div:hover{
    color:crimson;

  }

#search-btn{
    display: inline-block;
  }

.header .header-2{
    background: rgb(89, 132, 189);
    display: flex;
    padding: 15px;
    margin:10px;
    border-radius:20px;
    align-items: center;
    justify-content: center;


    
  }

.header .header-2 .navbar{
  text-align: center;

}

.header .header-2 .navbar a{
   color: rgb(62, 39, 13);
   font-size: 30px;
   display: inline-block;
   padding: 20px;
  
}

.header .header-2 .navbar a:hover{

  background-color: rgb(99, 94, 89);

}

.login-form-container{
  display: flex;
  align-items: center;
  justify-content: center;
  background: url("header.jpg");
  box-shadow:inset 0 0 0 1000px rgba(0,0, 0, 0.4);
  position: fixed;
  top: 0;
  right:-105%;
  z-index: 10000;
  height: 100%;
  width: 100%;
}

.login-form-container.active{
  right:0;
}

.login-form-container form{
  background:  rgba(255,255,255,0.6);
  border: rgb(243, 240, 240);
  box-shadow: 0px 0px 10px rgba(0,0,0,0.8);
  width:500px;
  padding: 30px;
  border-radius: 10px;
  margin: 20px;
  align-items: center;
  justify-content: center;


}

.login-form-container form h3 {
  font-size: 30px;
  text-transform: uppercase;
  color: black;
  text-align: center;
}

.login-form-container form span {
  display: block;
  font-size: 20px;
  padding-top: 5px;

}

.login-form-container form .box{
  width: 100%;
  margin: 10px 0;
  font-size: 18px;
  border: black;
  border-radius: 5px;
  padding: 8px 10px;
  color: black;
  text-transform: none;
}

.login-form-container form .checkbox{
  display: flex;
  align-items: center ;
  gap: 10px;
  padding: 5px 0;
}

.login-form-container form .checkbox label{
  font-size: 15px ;
  color: black;
  cursor: pointer;
}

.login-form-container form .btn{
    text-align: center;
    width: 70%;
    margin: 8px 0;
    margin-left: 15%;
}

.login-form-container form p{
  padding-top: 5px;
  color: black;
  font-size: 15px;
}

.login-form-container form p a{
 
  color:rgb(56, 96, 149);
  text-decoration: underline;
}

.login-form-container #close-login-btn{
   position: absolute;
   top: 24px;
   right: 20px;
   font-size: 40px;
   color:rgb(56, 96, 149);
   cursor: pointer;

}


.home .row{

  display: flex;
  align-items: center;
  flex-wrap: wrap;
  gap: 10px;
}

.home .row .content{
  flex:1 1 650px ;
}

.home .row .books-slider{
  flex: 1 1 650px;
  text-align: center;
  margin-top: 30px ;
}

.home .row .books-slider a img{
  height: 250px;
}

.home .row .books-slider a:hover img{
  transform: scale(.8);
}

.home .row .content h3{
  color:rgb(56, 96, 149) ;
  font-size: 30px;
  margin-top: 0.05px;
  font-family: newFont;
  text-align: center;
}





































